#theTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-x:auto;	/* For responsive design */
    margin: 1.2em 0 1.2em 0;
}

#theTable caption {
	font-weight: bold;
	font-size: 1.5em;
	text-align: left;
}

#theTable td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#theTable th { 
	background: #B0E0E6;
	border-bottom: 2px solid black;
}

#theTable tr:nth-child(even) {
    background-color: powderBlue;
}




/* NAV menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #617582;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:  #80C1CA;
}

.active {
    background-color: #red;
}

footer {
	color: white;
	background-color: #617582;
    text-align: center;
}

footer a {
	color: white;
}

#overlay {
	text-align: center;
    background-size: 100%;
    display: none;        
    position: fixed; 
    top: 0;           
    right: 0;                
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
#overlaytop { 
	background: white;
	width: 100%;
	opacity: 1.5;
	padding-bottom: 10px;
	margin: 5% auto;
}

.overlaycontent {
	/* margin: 5% auto;	 */
	overflow-x: auto; 
}

.overlaytable {
	text-align: left;
	border: 1px solid grey;
	margin: 0 auto;
}

@media screen and (min-width: 400px) {
	#overlaytop { width: 75%; }
}
@media screen and (min-width: 900px) {
	#overlaytop { width: 50%}
}
@media screen and (min-width: 1200px) {
	#overlaytop { width: 25%; }
}

.button2 {
	width: 25%;
	/* background: powderBlue; */
}

.button2:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #5199A3;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #B0E0E6;}
</style>